.profile{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.wolf{
    width: 300px;
    height: 300px;
}

.homeText{
    position: relative;
    margin: 50px auto 0 auto;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0.5px rgba(255, 255, 255, 0.493);
    overflow: hidden;
    text-align: center;
    color: white;
}
.blur{
    width: 150%;
    height: 150%;
    top: -10%;
    left: -10%;
    position: absolute;
    background: url('../media/trees.jpg') no-repeat center center fixed;
    background-size:cover;
    filter: blur(10px) brightness(0.7);
    z-index: -1;
}